@CHARSET "UTF-8";

.barcode_control {
	width: 100%;
}

.barcode_control, .reader_div, .barcode_reader {
	min-width: 6pc;
}

.barcode-control, .list_div, .barcode_list {
	width: 100%;
}

.barcode_control, .total_div {
	text-align: right;
}


