@CHARSET "UTF-8";

@font-face {
    font-family: GeosansLight;
    src: url(/fonts/GeosansLight.ttf);
}

@font-face {
    font-family: CacophonyLoud;
    src: url(/fonts/CacophonyLoud.ttf);
}

.leihatila {
	font-family: GeosansLight;
	font-size: 18px;
}