@CHARSET "UTF-8";

/****** Project Form View *******/
.project_list {
	width: 90%;
}

div.project_form_div {
	display: none;
}

div.project_form_line {
	min-height: 2em;
	text-align: left;
}

div.project_wide_form_line {
	min-height: 10em;
	text-align: left;
}

div.project_form_button {
	float: right; 
	text-align: right;
	padding-right: 3%;
	width: 97%
}

div.project_form_left {
	float: left; 
	text-align: right;
	padding-right: 1%;
	width: 19%
}

div.project_form_half_left {
	float: left; 
	text-align: center;
	width: 49%
}

div.photo_frame {
	border: 1px solid #ffffff;
}

img.project_photo {
	height: 150px;
}

div.project_form_half_right {
	float: right; 
	text-align: center;
	width: 49%
}

div.project_form_half_right > textarea {
	width: 100%;
}

div.project_form_right {
	float: right; 
	text-align: left;
	width: 80%;
}

div.project_form_right > input, select {
	width: 100%;
}

/*** End of Project Form View ****/

div.warning_section {
	width: 100%;
    height: 10%;
}

div.logout_section {
	width: 100%;
	height: 10%;
	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
}

div.content_tab {
    display:none;
}

#tabbed_section {
    width: 100%; /* width of tabbed panel */
    height: 90%;
    text-align: center;
    border: 2px solid black;
    }
    
#menu {
    clear: both;
    width: 100%;
}

#Display_content {
    clear: both;
    min-height: 44px;
    padding: 2px;
}

#ul_tabs {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.lh {
	background-color: gray;
    border: 1px solid #FFFFFA;
    float: left;
    height: 40px;
    list-style: none outside none;
    padding: 5px;
    text-align: center;
    width: 125px;
}

.lhactive {
	background-color: black;
	color: white;
	font-weight: bold;
    border: 1px solid #FFFFFA;
    float: left;
    height: 40px;
    list-style: none outside none;
    padding: 5px;
    text-align: center;
    width: 125px;
}

li.lh:hover {
    background-color: white;
    cursor: pointer;
}

.long-text {
	width: 98%;
}

td.form-left {
	width: 30%;
	text-align: left;
	border: none;
}

td.form-right {
	width: 70%;
	text-align: center;
	border: none;
}