@CHARSET "UTF-8";

.tab_menu {
	clear: both;
    width: 100%;
}

.tab_list {
	clear: both;
    padding: 0px;
    margin: 0px;
    height: 3em;
    padding: 1em;
}

.tab_item {
	background-color: #aac285;
    border: 1px solid #ffffff;
    float: left;
    height: 3em;
    list-style: none outside none;
    padding: 5px;
    text-align: center;
    width: 125px;
}

.tab_item:hover {
	background-color: #abb79a;
    cursor: pointer;
}

.active_tab_item {
	background-color: #ff9900;
	color: white;
	font-weight: bold;
    border: 1px solid #FFFFFF;
    float: left;
    height: 3em;
    list-style: none outside none;
    padding: 5px;
    text-align: center;
    width: 125px;
}


.tab_content {
	display:none;
	padding: 1em;
	min-height: 30em;
	border: 3px solid #aac285;
}

.tab_name_span {
	vertical-align: middle;
}